/*
 * Partials
 */

/* This CSS will print because %message-shared is extended. */

%message-shared {
  border: 1px solid #ccc;
  padding: 10px;
  color: red;
}

// This CSS won't print because %equal-heights is never extended.
%equal-heights {
	background: yellow;
  display: flex;
  flex-wrap: wrap;
  height:50px+50px;
}
